.accordionWrapper div{display:inline; float:left; margin:auto;}
.accordionWrapper a{text-decoration:none;}
.accordionWrapper .vtemaccordion-title{font-size:150%; font-weight:normal;}
.accordionWrapper div.title{cursor:pointer;}
.accordionWrapper div.content{display:none;}
.accordionWrapper,.accordionWrapper .accordion-item{display:none;}
.accordionWrapper div.content div.vt_accordion_main{padding:10px; overflow:hidden;}
.accordion-0 div.vt_accordion_main{margin-left:1px !important; height:100%;}
.vtem-accordion-wrapper .title,.vtem-accordion-wrapper div.vt_accordion_main,.vtem-accordion-readon{moz-border-radius:3px;webkit-border-radius:3px;border-radius:3px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; width:100%; *width:95%; *height:93%;}
.vtem-accordion-readon{width:auto;}
.accordionWrapper .title{
display:block;
font-size:120%;
cursor:pointer;
margin:0;
padding:0;
width:100%;
position:relative;
text-transform:uppercase;
font-weight:bold;
height:45px;
line-height:45px;
overflow:hidden;
}
.accordionWrapper.accordion-0 div.title div.toggler{
-moz-transform-origin:18px 0;
-webkit-transform-origin:18px 0;
-o-transform-origin: 18px 0;
-ms-transform-origin:18px 0;
transform-origin:18px 0;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
transform: rotate(-90deg);
display:block;
height:35px;
left:-27px;
_top:5px !important;
_left:-15px  !important;
padding:8px 3px 0 0;
position:absolute;
text-align:right !important;
}
.accordionWrapper .vt_accordion_main_item,
.accordionWrapper .vt_accordion_main_item td,
.accordionWrapper .vt_accordion_main_item tr{border:none; margin:0; padding:0; width:100%;}
.accordionWrapper .vt_accordion_main_item img{margin:3px 8px 0 0;}
.accordionWrapper .vtemaccordion-title{margin:8px 0 !important; padding:0 !important;}
.vtemaccordion_infor{display:block; opacity:0.6; width:100%; margin:0 !important;}
.vtemaccordion_infor span,.vtemaccordion_infor a{margin:3px 10px 3px 0; font-size:10px; text-transform:uppercase; text-decoration:none; background-color:transparent !important;}
.vtemaccordion-style1 .accordion-0 .toggler,.vtemaccordion-style2 .accordion-0 .toggler,.vtemaccordion-style3 .accordion-0 .toggler{background:#333;}
.vt_readmore{display:block; width:100%;}
.vtem-accordion-wrapper .vtem-accordion-readon{
padding:5px 20px 5px 10px;
display:block;
text-decoration:none;
margin:5px 0;
float:right;
background-image:url(images/arrow.gif) !important;
background-repeat:no-repeat !important;
background-position:right center !important;
text-transform:uppercase;
font-size:85%;
}
.vtemaccordion-style1 .vtem-accordion-readon,
.vtemaccordion-style1 .vtem-accordion-readon:hover,
.vtemaccordion-style1 .vtem-accordion-readon:focus,
.vtemaccordion-style2 .vtem-accordion-readon,
.vtemaccordion-style2 .vtem-accordion-readon:hover,
.vtemaccordion-style2 .vtem-accordion-readon:focus,
.vtemaccordion-style3 .vtem-accordion-readon,
.vtemaccordion-style3 .vtem-accordion-readon:hover,
.vtemaccordion-style3 .vtem-accordion-readon:focus{
background-color:#333 !important;color:#ccc !important;
}
.vtem_accordion_img0{float:left;}
/*/////////////////// STYLE 1//////////////////////////*/
.vtemaccordion-style1 .title{background:#333;color:#ccc;}
.vtemaccordion-style1 .title .toggler{padding:0 5px; float:none; width:98%;}
.vtemaccordion-style1 div.vt_accordion_main{border:1px solid #e5e5e5; margin:0; background:#f9f9f9;}
.vtemaccordion-style1 .title .toggler .vt_number{width:25px; height:25px; display:block; float:left; margin:11px 8px; background:#333 url(images/bg.jpg) -2px -3px no-repeat;}
.vtemaccordion-style1 .title.active .toggler .vt_number{background:#333 url(images/bg.jpg) -53px -4px no-repeat;}
.vtemaccordion-style1 .accordion-0 div.title{background:#333; width:45px;overflow:hidden;}
.vtemaccordion-style1 .accordion-0 div.title div.toggler .vt_number{float:left;}

/*/////////////////// STYLE 2//////////////////////////*/
.vtemaccordion-style2 .title{background:#333;color:#ccc;}
.vtemaccordion-style2 .title .toggler{padding:0 5px; float:none; width:98%;}
.vtemaccordion-style2 div.vt_accordion_main{border:1px solid #e5e5e5; margin:0; background:#f9f9f9;}
.vtemaccordion-style2 .title .toggler .vt_number{width:18px; height:18px; display:block; float:left; margin:14px 8px; background:#333 url(images/bg.jpg) -2px -35px no-repeat;}
.vtemaccordion-style2 .title.active .toggler .vt_number{background:#333 url(images/bg.jpg) -57px -35px no-repeat;}
.vtemaccordion-style2 .accordion-0 div.title{background:#333; width:45px;overflow:hidden;}
.vtemaccordion-style2 .accordion-0 div.title div.toggler .vt_number{float:left;}

/*/////////////////// STYLE 3//////////////////////////*/
.vtemaccordion-style3 .title{background:#333;color:#ccc;}
.vtemaccordion-style3 .title .toggler{padding:0 5px; float:none; width:98%;}
.vtemaccordion-style3 div.vt_accordion_main{border:1px solid #e5e5e5; margin:0; background:#f9f9f9;}
.vtemaccordion-style3 .title .toggler .vt_number{width:18px; height:18px; display:block; float:left; margin:14px 5px 14px 8px; background:#333 url(images/bg.jpg) -2px -61px no-repeat;}
.vtemaccordion-style3 .title.active .toggler .vt_number{background:#333 url(images/bg.jpg) -60px -61px no-repeat;}
.vtemaccordion-style3 .accordion-0 div.title{background:#333; width:45px;overflow:hidden;}
.vtemaccordion-style3 .accordion-0 div.title div.toggler .vt_number{float:left;}

/*/////////////////// CUSTOM //////////////////////////*/
.vtemaccordion-custom div.vt_accordion_main{border:1px solid #999; margin:2px 0;}
.vtemaccordion-custom .accordion-0 div.vt_accordion_main{margin:0 0 0 1px !important; height:100%;}
.vtemaccordion-custom .accordion-1 .title .toggler .vt_number{padding:2px 6px;margin:0 5px;}
.vtemaccordion-custom .accordion-0 .title .toggler .vt_number{padding:0 2px;margin:0px 6px 8px 5px; float:left;}
.vtemaccordion-custom div.title{width:45px;overflow:hidden; border:1px solid #ddd;}