@import url("animate.min.css");
.vtem_scroller .slides {
	display: block;
	position: relative;
	margin-bottom:0px;
	padding-left:0px;
}
.vtem_scroller .slides > li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display:none;
	width:100%;
}

.vtem_scroller .slides li img {
	display: block;
	max-width: 100%;
}
.vtem_scroller .slides > li.active {display: block; position: relative;}
.vtem_scroller .pager {
	height: 40px;
	text-align: center;
}
.vtem_scroller .pager li { display: inline-block; }
.vtem_scroller .pager li a,
.vtem_scroller .pager li a span {
	display: block;
	height: 10px;
	width: 10px;
}
.vtem_scroller .pager li a {
	border-radius: 50%;
	margin:10px 5px;
	background: #c0c0c0;
	text-indent: -9999px;
}
.vtem_scroller .pager li.active a{ background: #404040; }
.vtem_scroller .prev, .vtem_scroller .next{
position:absolute;
top:-90px;
right:0px;
display:block;
z-index:50;
border:1px solid #ccc;
border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px; 
-o-border-radius:3px;
-webkit-border-radius:3px;
text-align:center;
}
.vtem_scroller .prev{ right:40px;}
.vtem_scroller .prev .fa, .vtem_scroller .next .fa{ font-size:30px; color:#ccc; padding:1px 10px;}
.vtem_scroller .prev:hover, .vtem_scroller .next:hover{border:1px solid #666; cursor:pointer;}
.vtem_scroller .prev:hover .fa, .vtem_scroller .next:hover .fa{ color:#666;}





