/* =Skitter styles
----------------------------------------------- */
.vtem_skitter {position:relative;width:100%;height:100%;background:#000;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.vtem_skitter img { max-width:none; border:0; margin:0; padding:0;} /* Tip for stildv */
.vtem_skitter dl {display:none;}
.vtem_skitter .container_skitter {overflow:hidden;position:relative; z-index:1;}
.vtem_skitter .image {overflow:hidden; width:100%; height:100%;}
.vtem_skitter .image a{background-color:transparent !important;}
.vtem_skitter .image img {display:none; width:100%; height:100%;}

/* =Box clone
-------------------------------------------------------------- */
.vtem_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
.vtem_skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}

/* =Navigation
-------------------------------------------------------------- */
.vtem_skitter .prev_button,.vtem_skitter .next_button{
	position:absolute;
	top:48%;
	z-index:200;
	overflow:hidden; 
	color:#fff;
	width:48px;
	height:48px;
	border:3px solid #fff;
	border-radius:300px;
	-moz-border-radius:300px;
	-ms-border-radius:300px;
	-o-border-radius:300px;
	-webkit-border-radius:300px;
	text-align:center;
	}
.vtem_skitter .prev_button .fa,.vtem_skitter .next_button .fa{ font-size:40px; color:#fff;}
.vtem_skitter .prev_button{left:30px;}
.vtem_skitter .next_button{right:30px;}


/* =Numbers
-------------------------------------------------------------- */
.vtem_skitter .info_slide {position:absolute;top:15px;left:15px;z-index:100;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;}
.vtem_skitter .info_slide .image_number{background:#333;float:left;padding:3px 10px;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.vtem_skitter .info_slide .image_number_select {background:#cc0000;float:left;padding:3px 10px;margin:0 5px 0 0;}

/* =Thumbs
	Change width and height to customization dimension thumb
-------------------------------------------------------------- */
.vtem_skitter .container_thumbs,.vtem_skitter .info_slide_thumb{height:63px;}
.vtem_skitter .info_slide_thumb .image_number{height:60px; background:none !important;}
.vtem_skitter .container_thumbs{position:relative;overflow:hidden;}
.vtem_skitter .info_slide_thumb {-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;overflow:hidden;top:auto;top:0;left:0;padding:0 !important;opacity:1.0; background:none !important; }
.vtem_skitter .info_slide_thumb .image_number{overflow:hidden;width:100px;position:relative;margin:0 !important; padding:3px 3px 0 0 !important; -moz-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;}
.vtem_skitter .info_slide_thumb .image_number img{display:block; width:100%; height:100%;}
.vtem_skitter .box_scroll_thumbs{ padding:0; }
.vtem_skitter .box_scroll_thumbs .scroll_thumbs{position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg, #555, #fff);background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101; cursor:pointer;border:0px solid #333; }

/* =Dots
-------------------------------------------------------------- */
.vtem_skitter_dots,.vtem_skitter_dotspreview{margin-bottom:30px;}
.vtem_skitter .info_slide_dots {position:absolute;bottom:-30px;z-index:151;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;}
.vtem_skitter .info_slide_dots .image_number {background:url(images/dot.png) left top no-repeat !important;float:left;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;width:18px;height:18px;text-indent:-9999em;overflow:hidden;}
.vtem_skitter .info_slide_dots .image_number_select {background:url(images/dot.png) left -22px no-repeat !important;float:left;margin:0 5px 0 0;}

/* =Loading
-------------------------------------------------------------- */
.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(images/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}

/* =Label
-------------------------------------------------------------- */
.vtem_skitter .label_skitter{ z-index:150;position:absolute;bottom:20px;right:50px;color:#fff;display:none;opacity:0.8;padding:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-image:url(images/bg.png);}
.vtem_skitter .info_slide * { font-family:Consolas,arial,tahoma !important; }
.vtem_skitter .progressbar{ background:#000; position:absolute;bottom:8px;left:8px;height:5px; z-index:150; opacity:0.5;}
.vtem_skitter_thumbs .progressbar{bottom:68px !important;}

/* =Preview slide
-------------------------------------------------------------- */
.vtem_skitter .preview_slide { display:none; position:absolute; z-index:152; bottom:30px; left:-40px; width:100px; height:100px; background:#fff; border:5px solid #eee; -moz-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; -webkit-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; overflow:hidden; }
.vtem_skitter .preview_slide ul { height:100px; overflow:hidden; margin:0 !important; padding:0 !important; list-style:none; display:block; position:absolute; top:0; left:0; }
.vtem_skitter .preview_slide ul li { width:100px; height:100px; overflow:hidden; float:left; margin:0 !important; padding:0 !important; position:relative; display:block; }
.vtem_skitter .preview_slide ul li img {display:block; width:100%; height:100%; margin:0 !important; padding:0 !important; border:none !important; }

/* =Focus
-------------------------------------------------------------- */
#overlay_skitter { position:absolute; top:0; left:0; width:100%; z-index:9998; opacity:1; background:#000; }

.vtem_skitter .focus_button {position:absolute;top:50%;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(images/focus-button.png) no-repeat left top;opacity:0;}
.vtem_skitter .play_pause_button {position:absolute;top:50%;z-index:151;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(images/pause-button.png) no-repeat left top;opacity:0;}
.vtem_skitter .play_pause_button.play_button {background:url(images/play-button.png) no-repeat left top;}

/* =Example for dimenions
-------------------------------------------------------------- */
.vtem_skitter .vtem_skitter_title{border-bottom:1px solid #999;}
.vtem_skitter .vtem_skitter_title,.vtem_skitter .vtem_skitter_title a{font-size:18px; font-weight:normal; text-decoration:none; background-color:transparent !important; margin:0 0 5px 0 !important; padding:5px 0 !important;}
.vtem_skitter .vtem-skitter-readon{background:transparent url(images/readon.png) left center no-repeat !important; padding:5px 0 2px 15px; text-decoration:none; font-size:80%; text-transform:uppercase; display:block;}