.vtem-tabs-wrapper{position:relative;}
.vtem-tabs-wrapper .tabs-nextprev1 .vtemtabs-panel .vtemtabs-item{padding:10px 35px !important;}
.vtemtabs-nav{position:relative; z-index:2;}
.vtemtabsnav{list-style:none !important; padding:0 !important; margin:0 !important; float:left; display:block; width:100%;}
.vtemtabsnav li{float:left; position:relative; margin:0; padding:0;}
.vtem-tabs{position:relative; z-index:1; background:#fafafa; display:block;border:1px solid #eee; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden;}
.vtem-tabs .vtemtabs-panel{display:block;overflow:hidden;}
.vtem-tabs .vtemtabs-panel .vtemtabs-item{padding:10px;}
.vtem-tabs .vtemtabs-panel .vtemtabs-item p{margin:0; padding:0;}
.vtem-tabs .vtemtabs-panel .vtemtabs-item img{margin:5px 8px 5px 0;}
.vtem-tabs-readmore{display:block; text-align:right; width:95%; clear:both; font-size:80%; text-transform:uppercase;}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {clear: both;}
.vtem-tabs-readon{display:block; text-align:right;}
.oTabContainer .prev,.oTabContainer .next{
position:absolute;
top:42%;
display:block;
width:30px;
height:30px;
background-image:url(images/nextprev.png) !important;
background-color:transparent !important;
z-index:50;
text-indent:-99999999px;
}
.oTabContainer .prev{background-position:left top !important; left:2px;}
.oTabContainer .prev:hover{background-position:-29px top !important;}
.oTabContainer .next{background-position:left bottom !important; right:2px;}
.oTabContainer .next:hover{background-position:-29px bottom !important;}

/*////////// STYLE1 ///////////////*/
.vtemtabs-style1 .vtemtabs-nav-top .oTabs{border-bottom:3px solid #690;}
.vtemtabs-style1 .vtemtabs-nav-bottom .oTabs{border-top:3px solid #690;}
.vtemtabs-style1 .vtemtabsnav li a,.vtemtabs-style1 .vtemtabsnav li a:hover,.vtemtabs-style1 .vtemtabsnav li a:focus{
display:block; font-weight:bold; text-decoration:none; padding:10px 15px; margin-right:2px;
background: #f3f3f3 !important;
color:#666 !important;
-moz-border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
border-radius:3px 3px 0 0;
border:1px solid #ddd;
border-bottom:none;
}
.vtemtabs-style1 .vtemtabs-nav-top li.active-tab a{
background: #690 !important; 
color:#fff !important;
border:1px solid #690;
border-bottom:none;
}
.vtemtabs-style1 .vtemtabs-nav-bottom li a,.vtemtabs-style1 .vtemtabs-nav-bottom li a:hover,.vtemtabs-style1 .vtemtabs-nav-bottom li a:focus{
-moz-border-radius:0 0 3px 3px;
-webkit-border-radius:0 0 3px 3px;
border-radius:0 0 3px 3px;
border:1px solid #ddd;
border-top:none;
}
.vtemtabs-style1 .vtemtabs-nav-bottom li.active-tab a{
background: #690 url(images/tab1.jpg) left -90px repeat-x !important; 
color:#fff !important;
-moz-border-radius:0 0 3px 3px;
-webkit-border-radius:0 0 3px 3px;
border-radius:0 0 3px 3px;
border:1px solid #690;
border-top:none;
}
.vtemtabs-style1 .vtemtabsnav li a strong{display:none;}

/*////////// STYLE2 ///////////////*/
.vtemtabs-style2 .vtemtabsnav li a{display:block; font-weight:bold; text-decoration:none; padding:0 15px; margin-right:2px;
background: #f3f3f3 !important;
padding:10px 15px;
color:#666 !important;
border:1px solid #ddd;
border-bottom:none;
}
.vtemtabs-style2 .vtemtabs-nav-top li.active-tab a{
background: #009ec3 !important; 
color:#fff !important;
border:1px solid #009ec3;
border-bottom:none;
}
.vtemtabs-style2 .vtemtabs-nav-bottom li a,.vtemtabs-style2 .vtemtabs-nav-bottom li a:hover,.vtemtabs-style2 .vtemtabs-nav-bottom li a:focus{
border:1px solid #ddd;
border-top:none;
}
.vtemtabs-style2 .vtemtabs-nav-bottom li.active-tab a{
background: #009ec3 !important; 
color:#fff !important;
border:1px solid #009ec3;
border-top:none;
}
.vtemtabs-style2 .vtemtabs-nav-top li.active-tab a strong{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #009ec3;
	position:absolute;
	bottom:-6px;
	left:45%;
}
.vtemtabs-style2 .vtemtabs-nav-bottom li.active-tab a strong{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #009ec3;
	position:absolute;
	top:-6px;
	left:45%;
}

/*////////// STYLE3 ///////////////*/
.vtemtabs-style3 .vtemtabsnav{display:block;font-weight:bold; text-decoration:none; padding:0 8px; background: #eee !important;}
.vtemtabs-style3 .vtemtabsnav li{padding:5px !important;}
.vtemtabs-style3 .vtemtabsnav li a{padding:7px 15px; font-weight:bold; text-decoration:none !important; color:#666 !important; background:none !important; display:block;}
.vtemtabs-style3 .vtemtabsnav li.active-tab a{
background: #D35656 !important;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
color:#fff !important;
}
.vtemtabs-style3 .vtemtabsnav li a strong{display:none;}

/*////////// STYLE4 ///////////////*/
.vtemtabs-style4 .vtemtabsnav{display:block; font-weight:bold; text-decoration:none; padding:0 5px;background: #333 !important;}
.vtemtabs-style4 .vtemtabsnav li{padding:0 !important; margin:0;}
.vtemtabs-style4 .vtemtabsnav li a{padding:10px 15px; font-weight:bold; text-decoration:none !important; color:#fff !important; background:none !important;display:block;}
.vtemtabs-style4 .vtemtabsnav li.active-tab a{background: #c60 !important;}
.vtemtabs-style4 .vtemtabsnav li a strong{display:none;}

/*////////// STYLE5 ///////////////*/
.vtemtabs-style5 .vtemtabsnav{display:block;font-weight:bold; text-decoration:none; padding:0;}
.vtemtabs-style5 .vtemtabsnav li{padding:6px 3px !important;}
.vtemtabs-style5 .vtemtabsnav li a{padding:10px 15px; font-weight:bold; text-decoration:none !important;color:#666 !important;background:#f9f9f9 !important;display:block; -moz-box-shadow:1px 1px 5px #ccc inset; -webkit-box-shadow:1px 1px 5px #ccc inset; box-shadow:1px 1px 5px #ccc inset}
.vtemtabs-style5 .vtemtabsnav li.active-tab a{
background: #333 !important;
color:#fff !important;
-moz-box-shadow:none; 
-webkit-box-shadow:none; 
box-shadow:none;
}
.vtemtabs-style5 .vtemtabsnav li a,
.vtemtabs-style5 .oPanels{
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.vtemtabs-style5 .vtemtabsnav li a strong{display:none;}

/*////////// CUSTOM ///////////////*/
.vtemtabs-custom .vtem-tabs{border:none;}
.vtemtabs-custom .vtemtabsnav li a,.vtemtabs-custom .vtemtabsnav li a:hover,.vtemtabs-custom .vtemtabsnav li a:focus{display:block; font-weight:bold; text-decoration:none; padding:10px 15px; margin-right:2px;}
.vtemtabs-custom .vtemtabs-item{border:none !important;}