/*  Com K2 ----------------------------------------------------------------- */
#k2Container .btn{ margin-top:0px;}
#system-message{
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#system-message{
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
div.subCategory a.subCategoryImage img, div.subCategory a.subCategoryImage:hover img,
div.itemListCategory, div.itemListCategory img, div.subCategory{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    padding: 0;
	max-width:100%;
	height:auto;
}
div.subCategory {
    border-right: 0 none;
    margin: 0 0 25px;
    padding: 15px;
}
div.itemListCategory{ padding-bottom:30px; margin:0 auto 30px; font-size:18px; text-align:center; border-bottom:1px solid #ddd;}
div.itemListCategory img {
    clear: both;
    float: none;
    margin: 0 auto 20px;
    max-width: 100% !important;
}
#k2Container .itemList{ margin-top:20px !important;}
div.subCategoryContainerLast div.subCategory{ border:0px;}
.itemListSubCategories .line-space { border-bottom:1px solid #ddd;  margin:0px;}

.itemBottom .itemRatingBlock span, .itemBottom .itemRatingBlock .itemRatingList, .itemBottom .itemRatingBlock .itemRatingForm ul.itemRatingList li, .itemLinks .itemCategory span, .itemLinks .itemAttachmentsBlock > span, .itemExtraFields ul li span.itemExtraFieldsLabel, .itemLinks .itemTagsBlock span, .itemLinks .itemTagsBlock ul li, .latestView .itemsContainer, .itemRatingBlock span, .itemLinks .itemSocialSharing > div, .itemCommentsForm textarea, .itemCommentsForm .inputbox, .itemList ul.itemTags li, .itemContainer {
    float: left;
}
gkPageContent:after, #gkContent:after, #gkSidebar:after, footer:after, header:after, section:after, aside:after, article:after, .box:after, .itemSocialSharing:after {
    clear: both;
    content: "";
    display: table;
}
section article:first-child {
    margin-top: 0;
}
.userView article, .genericView article, .itemList article {
    clear: both;
    margin-bottom: 66px;
}
.k2CalendarBlock table.calendar tr td.calendarDateLinked, .itemContainerLast:first-child .itemImageBlock, .clr + .itemContainerLast .itemImageBlock {
    padding: 0;
}
div.itemIntroText {
    font-weight: normal;
    line-height: 1.8;
}
.itemImageBlock {
    margin: 0 0 32px !important;
	padding:0px !important;
    position: relative;
}
.itemImageBlock > a {
    display: block;
    width: 100%;
}
.itemImage {
    display: block;
    line-height: 0;
    overflow: hidden;
}
div.itemBody {
    margin: 0;
    padding:0;
}
.itemImageBlock img {
    -moz-box-sizing: border-box;
    display: block;
    height: auto;
    max-width: 100%;
	width: 100% !important;
    padding: 0;
}
section img {
    height: auto;
    max-width: 100% !important;
}
.itemList article header h2{ display:inline-block;}
article aside {
    display: block;
}
article aside > time {
    color: #666;
    display: block;
    font-size: 48px;
    line-height: 1;
    margin: 0 0 16px;
    text-transform: uppercase;
	font-weight:normal;
}
article aside ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 11px;
    margin: 0 5px 0px 0px  !important;
    padding: 0 5px 0px 0px !important;
	list-style:none;
	display:inline-block;
	float:left;
}
article aside ul li span{ padding-right:7px; float:left;}
aside + .k2box {
    margin-left: 168px;
}
article aside {
    text-align:left;
	text-transform:none;
	display:inline-block;
}
article header {
    -moz-box-sizing: border-box;
    margin:0px 0px 20px;
    width: 100%;
}
.info_date{color:#999; float:left; position:relative; text-transform:uppercase; width:100px; padding:10px; margin-right:15px; border:1px solid #ddd;}
.info_date:before   {
 position: absolute;
  top:15px;
  right: -14px;
  display: inline-block;
  border-left: 7px solid #ddd !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
  z-index:99;
}
.info_date .date {
    border-right: medium solid;
	border-color:#999;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 22px;
	margin-right:7px;
    padding-right: 5px;
    text-align: center;
    text-shadow: none !important;
    text-transform: uppercase;
	color:#999;
}
.info_date .month-year {
    display: block;
    font-size: 70%;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 0;
    padding: 2px 0;
    text-align:left;
    text-transform: uppercase;
}
article header h2 {
    line-height:normal;
	float:left;
	margin-top:0px;
	padding-top:0px;
    text-transform: uppercase;
}
a.itemCommentsLink{ margin-top:2px;}
article header h1 a, article header h2 a {
    color: #666;
}
.itemList article header h1 a,
.itemList article header h2 a{ float:left;}


.itemList article header h2 {
    margin:0;
}
article header + div, article header + p {
    clear: both;
}
article header + * {
    clear: both;
}
#k2Container .modal {
    border: 0 none;
    border-radius: 0;
	background:none;
    box-shadow: none;
    left: 0;
    margin-left: 0;
    outline: medium none;
    position: inherit;
    top: 0;
    width: auto;
    z-index: 1;
}

small.itemDateModified {
    display: block;
    font-style: italic;
    text-align: right;
}

.com_k2.item header h1{ font-size:50px;}
.com_k2.item header{ margin-bottom:20px;}
.k2FeedIcon a,
a.k2FeedIcon {
    background: url(../images/k2/rss.png) no-repeat 0 0;
    color: #999;
    display: block;
    float: left;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    padding: 0 0 0 32px;
}
.k2FeedIcon a:hover,
a:hover.k2FeedIcon { color: #222 }
.k2FeedIcon a { float: none }
aside + .k2box { margin-left: 168px }
article header ul + ul {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
}
article header ul + ul li { line-height: 28px }
h1 > sup {
    color: #eb592a;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 6px;
    top: -2.5em;
}
ul li.itemResizer a {
    background: url(../images/k2/fonts.png) no-repeat 100% -1px;
    display: inline-block;
    height: 15px;
    text-indent: -9999em;
    width: 15px;
}
.itemInfo {
    color: #363636;
    font-size: 13px;
}
.itemInfo > ul{ margin:0; padding:0;}
.itemInfo > ul > li {
    border-bottom: 1px solid #e5e5e5;
    padding: 6px 0;
	list-style:none;
}
article aside {
    text-align:left;
	float:left;
	display:inline-block;
	clear:both;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
}
aside{font-family:Arial, Helvetica, sans-serif;}
article aside ul{ padding-left:0; margin-left:0;}
ul li.itemResizer span { padding: 0 6px 0 0 }
ul li.itemResizer #fontIncrease { background-position: 0 -1px }
.smallerFontSize { font-size: 90%!important }
.largerFontSize { font-size: 115%!important }
.itemImageBlock {
    margin: 0 0 32px;
    position: relative;
}
.itemImage {
    display: block;
    line-height: 0;
    overflow: hidden;
}
.itemImageBlock img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 0;
}
.itemImageCaption {
    border-bottom: 1px solid #e5e5e5;
    color: #363636;
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding: 6px 0;
    text-align: right;
}
.itemImageBlock > a {
    display: block;
    width: 100%;
}
.itemExtraFields ul li span.itemExtraFieldsValue,
.itemLinks .itemCategory a,
.itemLinks .itemAttachmentsBlock ul,
.itemLinks .itemTagsBlock ul {
    display: block;
    margin: 0 0 0 17%;
}
.itemBottom {
    clear: both;
    margin: 0 0 6px;
}
.itemLinks {
    clear: both;
    margin: 0 0 38px;
    padding: 6px 0;
}
.itemLinks .itemTagsBlock,
.itemLinks .itemSocialSharing {
    clear: both;
    overflow: hidden;
}
.itemSocialSharing {
    border-top: 1px solid #e5e5e5;
    margin: -6px 0 18px;
    padding: 18px 0 0;
}
.itemSocialSharing > div { 
	display: block; 
	float: left;
	margin-right: 10px;
}
.itemExtraFields {
    font-size: 12px;
    margin: 8px 0 24px;
}
.itemExtraFields h3 {
    font-size: 18px;
    padding: 0 0 8px;
}
small.itemDateModified {
    display: block;
    font-style: italic;
    text-align: right;
}
.itemRatingForm {
    display: block;
    line-height: 25px;
    vertical-align: middle;
}
.itemRatingLog {
    float: left;
    line-height: 25px;
    margin: -2px 0 0;
    padding: 0 0 0 4px;
}
span#formLog {
    background: #eb592a;
    clear: both;
    color: #FFF;
    display: block;
    float: none;
    margin: 10px 0;
    position: relative;
    text-align: center;
    top: 10px;
}
.itemRatingForm .formLogLoading {
    height: 25px;
    padding: 0 0 0 20px;
}
.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating { background: url(../images/k2/star.png) left -1000px repeat-x }
.itemRatingList {
    background-position: left top;
    float: left;
    height: 25px;
    list-style: none;
    margin: 0 6px!important;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 125px;
}
.itemRatingList li {
    background: none;
    border: none!important;
    display: inline;
    padding: 0;
}
.itemRatingList a,
.itemRatingList .itemCurrentRating {
    border: none;
    cursor: pointer;
    height: 25px;
    left: 0;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: -1000px;
    top: 0;
}
.itemRatingList a:hover { background-position: left center }
.itemRatingList a.one-star {
    width: 20%;
    z-index: 6;
}
.itemRatingList a.two-stars {
    width: 40%;
    z-index: 5;
}
.itemRatingList a.three-stars {
    width: 60%;
    z-index: 4;
}
.itemRatingList a.four-stars {
    width: 80%;
    z-index: 3;
}
.itemRatingList a.five-stars {
    width: 100%;
    z-index: 2;
}
.itemRatingList .itemCurrentRating {
    background-position: 0 bottom;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.itemTags li a {
    margin: 0 12px 2px 0;
    text-decoration: underline;
}
.itemExtraFields ul li {
    border-top: 1px solid #eee;
    list-style: none;
    padding: 5px 0;
}
.itemLinks ul li { list-style: none }
.itemLinks .itemAttachmentsBlock ul li a span { color: #676767 }
.userView .itemAuthorBlock {
    border-bottom: 1px solid #DDDDDD;
    float: left;
    margin: 0 0 36px;
    padding-bottom: 20px;
    width: auto;
}
.itemAuthorBlock { margin: 56px 0 32px }
.itemAuthorBlock > .gkAvatar {
    float: right;
    margin-left:32px;
    padding: 2px 0;
}
.gkAvatar img,
.k2Avatar img {
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	 border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 11px;
}

.itemAuthorBlock .itemAuthorDetails {
    border-left: 4px solid #ccc;
    font-size: 14px;
    padding: 0 168px 0 32px;
}
.itemAuthorBlock .itemAuthorDetails p { margin: .5em 0 }
.itemAuthorData h3 {
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin: 2px 0 8px;
    text-transform: uppercase;
}
.itemNavigation {
    clear: both;
    color: #7D7B7A;
    font-size: 12px;
    padding: 0;
}
.itemCommentsForm label {
    clear: both;
    display: block;
    padding: 12px 0 0;
}
.itemCommentsForm textarea.inputbox { height: 200px }
.itemCommentsForm .inputbox {color:#999; }
.itemCommentsForm #submitCommentButton {
    clear: both;
    margin: 20px 0 0;
	float:left;
}
.itemCommentsForm .itemCommentsFormNotes {
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    margin: 0 0 24px;
    padding-top: 7px;
}
.itemBody + h3 { margin-top:45px }
h3.titleComments {
    border-top: 3px solid #ccc;
    clear: both;
    font-weight:100;
    line-height: 36px;
    padding: 18px 0;
    text-transform: uppercase;
}
.itemComments .itemCommentsList li {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 24px;
    padding: 12px 0 0;
    position: relative;
}
.itemComments .itemCommentsList li img {
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin-left: -100px;
    position: absolute;
    top: 25px;
}
.itemCommentsList li h3 {
    float: left;
    font-size: 21px;
    font-weight: 400;
}
.itemCommentsList li h3 + a,
.itemCommentsList li h3 + a + span,
.itemCommentsList li h3 + span {
    float: right;
    font-size: 12px;
    margin: 12px 0 0 12px;
}
.commentLink:hover { color: #363636 }
.itemList article header h2 { margin: 0 0 5px }
.itemTags { padding-left: 4px!important }
.userView article, .genericView article, .itemList article {
    border-bottom: 1px solid #ddd;
    clear: both;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.subCategoryContainer {
    float: left;
}
a.subCategoryMore, a.itemReadMore{ font-size:12px; text-transform:uppercase;}
itemContainerLast article { margin: 0 }
#itemListLinks ul { margin: 12px 0 0 }
#itemListLinks li {
    background: url(../images/style1/typography/bullet-square2.png) no-repeat 0 6px;
    font-size: 13px;
    padding-left: 24px;
}
#itemListLinks a { color: #737373 }
.itemsContainerWrap .itemView {
    color: #999;
    font-size: 13px;
    padding: 12px;
    text-align: center;
}
.itemsContainerWrap figcaption h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0 2px;
}
.itemsContainerWrap figcaption time {
    border: none;
    color: #999;
    font-size: inherit;
}
.itemsContainerWrap .itemList article { margin-bottom: 0 }
.itemsContainerWrap .itemList figure {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 16px;
}
.itemsContainerWrap .itemList figure:hover { border-color: #7fb3ef }
.itemsContainerWrap .itemList figure img {
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    opacity: 0.8;
    transition: opacity .2s linear;
}
.itemsContainerWrap .itemList figure img:hover { opacity: 1 }
.k2LatestCommentsBlock .k2FeedIcon { margin-top: 16px }
.k2LatestCommentsBlock { font-size: 14px }
.k2LatestCommentsBlock .k2Avatar { margin: 6px 0 0 }
.k2LatestCommentsBlock div { margin: 0 0 12px 60px }
.k2LatestCommentsBlock div p {
    font-size: 13px;
    font-style: italic;
    line-height: 1.6;
    margin: .3em 0;
}
.k2LatestCommentsBlock div span {
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
}
.k2Avatar {
    display: block!important;
    float: left;
    margin: 0 24px 0 0;
}
.tcUsername {
    color: #333;
    font-size: 18px;
}
.tcLatestComment {
    color: #737373;
    display: block;
    font-size: 13px;
    margin: 6px 0;
}
.tcLatestCommentDate {
    color: #999;
    display: block;
    font-size: 11px;
}
div .k2ItemsBlock ul { margin:0; padding:0; }
div .k2ItemsBlock ul li {
    background: none!important;
    list-style: none!important;
    margin: 0 0 20px;
    padding:0;
}
a.moduleItemTitle {
    color: #212121;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.moduleItemAuthor {
    border-bottom: 1px solid #e5e5e5;
    font-size: 11px;
    margin: 0 0 16px;
    overflow: hidden;
}
.moduleItemAuthor a {
    color: #212121;
    display: block;
    font: bold 12px Verdana, Geneva, sans-serif;
    padding: 0 0 12px;
}
.moduleItemIntrotext {
    display: block;
    line-height: 1.6;
    padding: 12px 0 0;
}
.moduleItemIntrotext a.moduleItemImage img {
    float: left;
	max-width:100%;
	height:auto;
    margin: 4px 0;
    overflow: hidden;
}
.moduleItemDateCreated,
.moduleItemCategory {
    color: #999;
    font: normal 10px Verdana, Geneva, sans-serif;
}
.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
    display: block;
    float: left;
    font-weight: 700;
    margin: 0 4px 0 0;
    width: 30%;
}
.moduleItemTags,
.moduleAttachments {
    border-top: 1px solid #e5e5e5;
    margin: 12px 0 0;
    overflow: hidden;
    padding: 12px 0 0;
}
.moduleItemTags strong {
    color: #212121;
    font-size: 12px;
}
a.moduleItemComments { font-size: 12px }
a:hover.moduleItemComments {
    background-position: 0 100%;
    color: #fff;
}
.itemCommentsForm #submitCommentButton:hover{ color:#fff !important;}
.k2ItemsBlock ul li span.moduleItemHits { font-size: 90% }
.moduleItemImage {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.moduleItemReadMore {
    clear: both;
    display: block;
}
.k2LoginBlock fieldset.input {
    margin: 0;
    padding: 0 0 8px;
}
.k2LoginBlock fieldset.input p {
    margin: 0;
    padding: 0 0 4px;
}
.k2LoginBlock fieldset.input p#form-login-remember label,
.k2LoginBlock fieldset.input p#form-login-remember input { display: inline }
.k2UserBlock p.ubGreeting { border-bottom: 1px dotted #eee }
.k2UserBlock .k2UserBlockDetails span.ubName {
    display: block;
    font-size: 14px;
    font-weight: 700;
}
.k2BreadcrumbsBlock span.bcTitle {
    color: #999;
    padding: 0 4px 0 0;
}
.k2BreadcrumbsBlock span.bcSeparator {
    font-size: 14px;
    padding: 0 4px;
}
.k2CalendarBlock { margin-bottom: 8px }
.k2CalendarLoader { background: #fff }
.k2CalendarBlock table.calendar {
    background: #fff;
    border-collapse: collapse;
    border-left: 1px solid #eee;
    margin: 0 auto;
    width: 100%;
}
.k2CalendarBlock table.calendar tr td {
    background: #fff;
    border: 1px solid #eee;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}
.k2CalendarBlock table.calendar tr td.calendarNavMonthPrev,
.k2CalendarBlock table.calendar tr td.calendarNavMonthNext {
    background: #fff;
    font-size: 15px!important;
    text-align: center;
}
.k2CalendarBlock table.calendar tr td.calendarDayName {
    background: #f5f5f5;
    color: #333;
    font-size: 11px;
    font-weight: 600;
    width: 14.2%;
}
.k2CalendarBlock table.calendar tr td.calendarDateEmpty { background: #fbfbfb }
.k2CalendarBlock table.calendar tr td.calendarDate { font-size: 11px }
.k2CalendarBlock table.calendar tr td.calendarDateLinked a {
    display: block;
    padding: 2px;
}
.k2CalendarBlock table.calendar tr td.calendarDateLinked a:hover {
    background: #212121;
    color: #fff!important;
    display: block;
    padding: 2px;
}
.k2CalendarBlock table.calendar tr td.calendarToday {
    background: #212121;
    color: #fff;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked {
    background: #7FB3EF;
    color: #fff;
    padding: 0;
}
table.calendar tr td.calendarTodayLinked a {
    color: #fff!important;
    display: block;
    padding: 2px;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked a:hover {
    background: #252525;
    color: #fff;
    display: block;
    padding: 2px;
}
.gkColumns > aside .k2CalendarBlock table.calendar,
.gkColumns > aside .k2CalendarBlock table.calendar tr td {
    background: none;
    border: none;
    color: #fff;
}
.gkColumns > aside .k2CalendarBlock table.calendar tr td.calendarDateLinked a {
    font-size: 18px;
    font-weight: 700;
}
.gkColumns > aside .calendarNavMonthPrev,
.gkColumns > aside .calendarCurrentMonth,
.gkColumns > aside .calendarNavMonthNext { background: #212121!important }
.k2CategorySelectBlock form select { width: auto }
.k2TagCloudBlock a {
    background: #f5f5f5;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: 3px;
    padding: 2px 9px;
}
.k2TagCloudBlock a:hover {
    background: #EB592A;
    color: #fff;
}
#k2Container .gsc-control { width: 100% }
span.ubUserEmail {
    display: inline-block;
    height: 16px;
    margin: 0 2px 0 0;
    overflow: hidden;
    padding: 0;
    width: 16px;
}
span.ubUserEmail a {
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 16px;
}
.k2UsersBlock ul li h3 {
    clear: both;
    margin: 8px 0 0;
    padding: 0;
}
.catCounter {
    font-size: 11px;
    font-weight: 400;
}
article header .itemRatingBlock > div { margin: 3px 0 0 }
.itemCommentsPagination ul li {
    display: inline-block;
    font-size: 80%;
    margin: 0 3px;
}
.k2CalendarBlock table.calendar tr td{ padding:2px;}
.calendarNavMonthPrev,
.calendarNavMonthNext { font-family: sans-serif!important }
.k2CategoriesListBlock ul li,
.k2ArchivesBlock ul li {
    border-bottom: 1px solid #eee;
    padding: 6px 0;
}
.itemBottom .itemRatingBlock span,
.itemBottom .itemRatingBlock .itemRatingList,
.itemBottom .itemRatingBlock .itemRatingForm ul.itemRatingList li,
.itemLinks .itemCategory span,
.itemLinks .itemAttachmentsBlock > span,
.itemExtraFields ul li span.itemExtraFieldsLabel,
.itemLinks .itemTagsBlock span,
.itemLinks .itemTagsBlock ul li,
.latestView .itemsContainer,
.itemRatingBlock span,
.itemLinks .itemSocialSharing > div,
.itemCommentsForm textarea,
.itemCommentsForm .inputbox,
.itemList ul.itemTags li,
.itemContainer { float: left }
.itemRatingBlock,
.itemListSubCategories { overflow: hidden }
.itemAuthorUrl,
.itemAuthorEmail,
.k2LoginBlock fieldset.input p label,
.k2LoginBlock fieldset.input p input { display: block }
.itemCommentsList li p,
.itemList ul.itemTags {
    clear: both;
	list-style:none;
	margin:0;
    padding: 12px 0 0;
}
.itemList ul.itemTags{ border-top:1px solid #ddd;}
.itemBackToTop,
.moduleItemTags a 
{background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    float: right;
    padding: 5px 10px;
	display:none;
	}
.commentLink,
.k2LatestCommentsBlock strong a { color: #EB592A }
.clr,
#itemListLinks,
.moduleItemAuthor p { clear: both }
#itemListLinks a:hover,
.itemsContainerWrap figcaption h2 a { color: #212121 }
.k2CalendarBlock table.calendar tr td.calendarDateLinked,
.itemContainerLast:first-child .itemImageBlock,
.clr + .itemContainerLast .itemImageBlock { padding: 0 }
#k2Container .gsc-branding-text,
.itemCommentsPagination ul { text-align: right }
#k2Container .gs-visibleUrl,
a.ubUserFeedIcon span,
a.ubUserFeedIcon:hover span,
a.ubUserURL span,
a.ubUserURL:hover span,
article header .itemRatingBlock > span { display: none }
a.ubUserFeedIcon,
a.ubUserFeedIcon:hover,
a.ubUserURL,
a.ubUserURL:hover {
    display: inline-block;
    height: 16px;
    margin: 0 2px 0 0;
    padding: 0;
    width: 16px;
}

.subCategoryImage{ }
.itemListSubCategories .line-space{ display:none;}
.subCategoryImage, .itemListCategoriesBlock .itemListCategory img{ }
.itemListCategoriesBlock .itemListCategory { text-align:left; font-size:14px;}